password_vault/Password_Vault_Automation.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "38faed52-8538-4dae-a866-a36f507fd9e3",
      "name": "Telegram Trigger",
      "webhookId": "dd096d07-83d7-4e2c-b851-3163af160706",
      "credentials": {
        "telegramApi": {
          "id": "YM6WZERhfFawnv9W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  const text = item.json.message.text;\n\n  // Split by new line\n  const parts = text\n    .split(\"\\n\")\n    .map(p => p.replace(\",\", \"\").trim());\n\n  const condition = parts[0];      // /store\n  const passwordtype = parts[1];   // email\n  const password = parts[2];       // password\n\n  return {\n    json: {\n      condition,\n      passwordtype,\n      password\n    }\n  };\n});\n\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "75242127-0d71-455f-aff5-58cca87de35d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "99e3a3d1-895e-47ec-9ba9-c2986783ddd1",
              "leftValue": "={{ $json.condition }}",
              "rightValue": "/insert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "8244678b-c596-4b57-a412-d80d5ebe4154",
              "leftValue": "={{ $json.passwordtype }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "3b6e223b-c5a7-4d82-aab4-f613c5f317d3",
              "leftValue": "={{ $json.password }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        -192
      ],
      "id": "d82e2036-ab2e-49d1-833b-41e24cedcc95",
      "name": "If"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "SPq0YEf9OBrpPHqI",
          "mode": "list",
          "cachedResultName": "Passwords",
          "cachedResultUrl": "/projects/GDT0sdORMHhfoyV5/datatables/SPq0YEf9OBrpPHqI"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PasswordType": "={{ $json.passwordtype }}",
            "password": "={{ $json.password }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "PasswordType",
              "displayName": "PasswordType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        976,
        -208
      ],
      "id": "0a597a99-a708-4b32-93d0-0ab2a08d683e",
      "name": "Insert row"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "inserted sucessfully",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        -224
      ],
      "id": "38dc3aee-876a-415d-af31-ed7d8b6b126a",
      "name": "Send a text message",
      "webhookId": "eb953274-6431-4c13-96a9-b769016ba2a8",
      "credentials": {
        "telegramApi": {
          "id": "YM6WZERhfFawnv9W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.condition }}",
                    "rightValue": "/insert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f920221b-a9dc-457d-941b-e6df8ff06e7d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "50e1e61c-87c9-47ba-bce8-a9cfb9c19174",
                    "leftValue": "={{ $json.condition }}",
                    "rightValue": "/get",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e18922ad-0a5b-486e-8164-f8b8bc63a839",
                    "leftValue": "={{ $json.condition }}",
                    "rightValue": "/getall",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "0fd56016-0a78-4b4c-9a75-3f0a339d54ba",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "enter content correct format c",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        -176
      ],
      "id": "b43e1ebc-16cf-4906-9a3c-1ac9dfdea6a7",
      "name": "Send a text message1",
      "webhookId": "f8e400c0-369e-49e8-87c6-1111c171476e",
      "credentials": {
        "telegramApi": {
          "id": "YM6WZERhfFawnv9W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1076e735-a8ea-4040-80cf-04feb7572369",
              "leftValue": "={{ $json.condition }}",
              "rightValue": "/get",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "b131ca85-4fc0-4834-8752-c7705c9b349c",
              "leftValue": "={{ $json.passwordtype }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        -48
      ],
      "id": "50ba7e04-cda4-49ec-b0ce-77603bf86774",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "SPq0YEf9OBrpPHqI",
          "mode": "list",
          "cachedResultName": "Passwords",
          "cachedResultUrl": "/projects/GDT0sdORMHhfoyV5/datatables/SPq0YEf9OBrpPHqI"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "PasswordType",
              "keyValue": "={{ $json.passwordtype }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        864,
        -48
      ],
      "id": "6f84338f-bae2-42ca-bdab-aa996db5304a",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.password }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        -64
      ],
      "id": "cdb25440-d5f3-4c39-b932-cd723b89b94e",
      "name": "Send a text message2",
      "webhookId": "11448a57-909d-4ede-8a54-2837c4d8ac23",
      "credentials": {
        "telegramApi": {
          "id": "YM6WZERhfFawnv9W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "52d08662-2678-42b8-93ef-84f62f575a81",
              "leftValue": "={{ $json.password }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        -32
      ],
      "id": "5347776c-a044-4ec4-a65e-d04d83a80658",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "enter valid data",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        -32
      ],
      "id": "39b9dbe6-24ba-4464-9bca-336ef868837e",
      "name": "Send a text message3",
      "webhookId": "07ba29af-8bd1-4a3d-9e14-4927316e1e88",
      "credentials": {
        "telegramApi": {
          "id": "YM6WZERhfFawnv9W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "SPq0YEf9OBrpPHqI",
          "mode": "list",
          "cachedResultName": "Passwords",
          "cachedResultUrl": "/projects/GDT0sdORMHhfoyV5/datatables/SPq0YEf9OBrpPHqI"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        800,
        96
      ],
      "id": "041fba27-22a9-4891-86f5-6ccb7cc8658c",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst passwordTypes = items.map((item) => item?.json?.PasswordType);\nconst uniquePasswordTypes = [...new Set(passwordTypes)];\n\nreturn { uniquePasswordTypes };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        112
      ],
      "id": "b48dff96-ddfd-4ea1-852c-fd0cf1437764",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=All PasswordTypes\n{{ $json.uniquePasswordTypes }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        96
      ],
      "id": "de387d6e-6b3c-4050-a7fe-212ac11da97a",
      "name": "Send a text message4",
      "webhookId": "edb65ab5-3083-4517-8e80-de36c71e92b9",
      "credentials": {
        "telegramApi": {
          "id": "YM6WZERhfFawnv9W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7d87d328-f93d-4ab7-9e0c-ee0b0add5576",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        112
      ],
      "id": "3af74415-ab21-43d7-ad73-33b14804a40d",
      "name": "If3"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7df41843-14f5-42a3-bb2a-96132fa9142a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "82ecaa2bb3aa38053bfaab7dc0d2cc566a022c34ee8ebdd10c53ed8c66263742"
  },
  "id": "aOtt1kkS0znVQ_RXTSH22",
  "tags": []
}